#buddypress #whats-new-submit{
	align-items:center;
}

.anonymously-post-main{
	display: flex;
  align-items: center;
  margin-right: 10px;
  background: #e8e7e7;
  padding: 5px 12px 5px 10px;
  border-radius: 50px;

  label{
		order: 2;
    font-size: 16px;
    margin: 0px;
  }

  .anonymously-post-wrap{
    position: relative;
    top: 50%;
    width: 50px;
    height: 24px;
    margin: 0 10px 0 0;
    overflow: hidden;
    border-radius: 100px;

    .anonymously-post-knobs,
    .anonymously-post-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .anonymously-post-layer {
      border-radius: 100px;
    }

    .anonymously-post {
      position: relative;
      width: 100% !important;
      height: 100% !important;
      padding: 0 !important;
      margin: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
    }

    .anonymously-post-knobs {
      z-index: 2;
    }

    .anonymously-post-knobs:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      background-color: #636e7a;
      border-radius: 50%;
      transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
    
    .anonymously-post-layer {
      width: 100%;
      background-color: #ffffff;
      transition: 0.3s ease all;
      z-index: 1;
    }

    .anonymously-post:checked + .anonymously-post-knobs:before {
      content: "";
      left:30px;
      background-color: var(--bb-primary-button-background-hover);
    }

    .anonymously-post:checked ~ .anonymously-post-layer {
      background-color: #d4deff;
    }

    .anonymously-post-knobs,
    .anonymously-post-knobs:before,
    .anonymously-post-layer {
      transition: 0.3s ease all;
    }
  }
}